html,
body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.card {
  background: hsl(0, 0%, 100%);
  width: 270px;
  padding: 18px;
  border-radius: 20px;
  text-align: center;
  margin: 50px;
}
.qr_picture {
  width: 100%;
  border-radius: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
